<section id="blog" class="section-container blog-section">
  <h2>Blog de consejos</h2>
  <p class="section-subtitle">
    Revisa nuestras recomendaciones y tips para aprovechar mejor nuestros servicios.
  </p>

  <div class="blog-container">
    <article class="blog-box">
      <img src="imgweb/celularimp.png" alt="Imprimir desde celular" >
      <h3>Cómo imprimir desde tu celular</h3>
      <p>Te mostramos lo fácil que es imprimir directamente desde WhatsApp o correo, sin computadora.</p>
    </article>

    <article class="blog-box">
      <img src="imgweb/cuidar.png" alt="Cuidar documentos" >
      <h3>Consejos para cuidar tus documentos</h3>
      <p>Evita que tus copias se dañen usando laminados, anillados y guardando en carpetas.</p>
    </article>

    <article class="blog-box">
      <img src="imgweb/promos.png" alt="Promociones mensuales" >
      <h3>Cómo aprovechar nuestras promociones</h3>
      <p>Revisa siempre las promociones del mes para ahorrar más en impresiones y útiles escolares.</p>
    </article>
  </div>
</section>