<section id="servicios" class="section-container alt-bg">
  <h2>Servicios Disponibles</h2>
  <p class="subtexto">Soluciones rápidas para tus tareas, trámites y proyectos.</p>

  <div class="servicios">

    <div class="card">
      <img src="/imgweb/fotocopia.png" alt="Fotocopias">
      <h3>Fotocopias Blanco y Negro</h3>
      <p>Copias nítidas y rápidas para tareas, trabajos escolares y documentos importantes.</p>
      <span class="tag">Desde L.1</span>
    </div>

        
    <div class="card">
      <img src="/imgweb/útiles.png" alt="Útiles escolares">
      <h3>Venta de Útiles Escolares</h3>
      <p>Cuadernos, bolígrafos, blocks y materiales escolares todo el año.</p>
      <span class="tag">Todo en un solo lugar</span>
    </div>

    
    <div class="card">
      <img src="/imgweb/secretariales.png" alt="Servicios secretariales">
      <h3>Servicios Secretariales</h3>
      <p>Redacción de tareas, cartas formales, hojas de vida y trámites digitales.</p>
      <span class="tag">Apoyo académico</span>
    </div>

  </div>
</section>